<ion-view view-title="Materias">
	<ion-nav-buttons side="right">
      <button class="button icon-right ionicon ion-plus-round" ng-click="modal.show()">
	      </button>
	</ion-nav-buttons>

	<ion class="bar bar-subheader">
	  <h2 class="title">Matérias de {{userNome}}</h2>
	</ion>

  <ion-content class="has-subheader" padding="true">

  	<ion-list>
  	  <ion-item ng-repeat="item in materias track by $index"
  	  show-delete="shouldShowDelete">
  	    {{item.name}}

  	    <ion-option-button class="button button-assertive" ng-click="remove($index)">
	      Remover
	    </ion-option-button>

  	  </ion-item>
  	</ion-list>

</ion-view>
